:root {
  --headerheight: 40px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  /* overflow-x: hidden; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* USSD LOADER */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 7px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  */

header {
  margin: 0;
  height: var(--headerheight);
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 3px grey;
}

.toggle-controls {
  position: fixed;
  top: 0;
  margin: 0;
  background-color: black;
  color: #ea7b00;
  height: var(--headerheight);
  width: var(--headerheight);
  z-index: 9999;

  /* padding: 1%; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* font-size: 30px; */
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-hidden {
  position: absolute;
  left: -101%;
}

.controls-shown {
  position: absolute;
  left: 0;
  height: 100vh;
  z-index: 1000;

  background-color: white;
}

.shift-right {
  /* position: absolute;
  left: 35%; */
  margin-left: 30%;
}

main {
  padding-top: calc(var(--headerheight) + var(--headerheight) / 2);
}

.div-half {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.form-field {
  margin: 0 10px 25px 10px;
}

/* .container {
  padding: 15px 30px;
  margin: 0 7%;
} */

button {
  background: #ea7b00;
  color: #fff;
  border: 0;
  padding: 8px 15px;
}

.form-field input[type="text"],
.form-field input[type="url"],
.form-field input[type="tel"],
.form-field select {
  width: 70%;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ea7b00;
}

/*
.form-field input[type="text"]:focus,
.form-field select:focus {
  border: none;
}
*/

.form-field label {
  font-size: 13px;
}

#simulator-response-input {
  width: 100%;
  border: none;
  border-bottom: 3px blue solid;
  height: 35px;
  font-size: inherit;
  caret-color: blue;
  padding: 0 5px;
  margin-top: 5px;
}

.ussd-popup-ctrl {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 18px 0 5px 0;
}

.ussd-popup-ctrl>button {
  background: none;
  color: blue;
  font-weight: 500;
  font-size: 15px;
  padding: 0 8px;
}

#phone-screen {
  height: 506px;
  width: 245px;
  margin: auto;
  border-radius: 34px;

  box-shadow: 0px 0px 11px indigo;
}

#phone-time {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  user-select: none;
}

#phone-watch {
  text-align: center;
  font-size: 50px;
}

#phone-date {
  text-align: center;
  font-size: 10px;
}

#phone-bg {
  background: url("../img/iPhone_X-512-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 510px;
  width: 260px;
}

#ussd-popup,
#ussd-loader {
  display: none;
  width: 200px;
  height: fit-content;
  background: rgb(255, 255, 255);
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0px 0px 15px black;
  border-radius: 5px;

  transition: all 2s ease;
}

#ussd-loader {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

#ussd-popup-content {
  word-wrap: pre-wrap;
  white-space: pre-wrap;
  font-size: 15px;
}

#simulator-debug-content,
#simulator-warning-content,
#simulator-info-content {
  font-size: 15px;
}

#simulator-debug-content small,
#simulator-warning-content small,
#simulator-info-content small {
  white-space: pre-wrap;
}

#simulator-warning-content,
#simulator-info-content {
  margin-top: 20px;
}

#dial-ussdCode {
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  user-select: none;
}

#dial-ussdCode-icon:hover {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.7);
}

#dial-ussdCode-icon {
  height: 100%;
  width: 100%;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

#dial-ussdCode:hover #dial-ussdCode-tooltip {
  visibility: visible;
}

#dial-ussdCode-tooltip {
  visibility: hidden;
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: -50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
}

#dial-ussdCode-tooltip::before {
  content: "\2328";
  padding: 0 10px 0 0;
}

#dial-ussdCode-tooltip:focus {
  border: none;
}

#dial-ussdCode-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

#controls {
  /*   display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  min-width: 30%;
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/*
#controls,
#simulator-debug,
#app {
  padding-top: 50px;
} */

#controls,
#app,
#simulator-debug,
.shift-right,
#phone-bg {
  transition: all 0.5s ease;
}

/* #controls > div {
  padding-left: 30px;
} */

p {
  margin: 0;
}

.code-running:after {
  content: '';
  animation: dots 3s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    content: '.';
  }

  40% {
    content: '..';
  }

  60% {
    content: '...';
  }

  90%,
  100% {
    content: '';
  }
}